@import "~bootstrap/scss/bootstrap.scss";

body {
    margin: 0px;
    background-color: rgb(248, 248, 248);
}

.container {
    border-radius: 10px;
    border: solid 2px rgb(228, 220, 220);
    min-height: 500px;
    width: 400px;
    margin: 40px auto;
    background: linear-gradient(to bottom right, #33ccff 19%, #99ffcc 72%);
    padding-bottom: 20px;
}

.title {
    padding-top: 10px;
    text-align: center;
}


.fas {
    padding-left: 20px;
}


.divInput {
    width: 250px;
    height: 40px;
    padding-top: 0.75rem;
    padding-right: 1.25rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;   
}
.addTask {
    margin-left: 1rem;
}
.list-group-item {
    width: 360px;
    font-weight: bold;
    cursor: pointer;
}


.list-group-item i {
    color:red;
    align-content: right;
    cursor: pointer;
    opacity: 0;
}

.list-group-item:hover i {
    color:red;
    align-content: right;
    cursor: pointer;
    opacity: 1;
}

.taskCounter {
    padding-top: 0.75rem;
    padding-right: 1.25rem;
    padding-bottom: 0.75rem;
    font-weight: 500;

}

.length {
    color: red;
}